{% macro card(href="#", src="", alt="", width="", height="", text="") %}
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="flex-none">
      {% if src %}
      <img class="object-none object-center" src="/img/{{src}}" alt="{{ alt }} width="{{ width }}" height="{{ height}}">
      {% endif %}
    </div>
    <div class="w-96 p-8">
      <a href="{{ href }}" target="_blank" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ text }}</a>
    </div>
  </div>
</div>
{% endmacro %}