{% macro card(href="#", src="", alt="", width="", height="", text="", textimg="") %}
<a href="{{ href }}" target="_blank" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
  {% if src %}
  <img class="object-contain p-8" src="/img/{{src}}" alt="{{ alt }}"
    {% if width %}
      width="{{ width }}"
    {% endif %}
    {% if height %}
      height="{{ height }}"
    {% endif %}
  >
  {% else %}
  <div class="w-96 p-8"><p class="text-4xl">{{ textimg }}</p></div>
  {% endif %}
  <div class="flex flex-col md:flex-row jusifty-between p-8 leading-normal">
    <p class="mb-3 font-normal text-gray-700 max-w-small">{{ text }}</p>
  </div>
</a>
{% endmacro %}
