<div class="md:invisible mt-4 py-4 bottom-0 w-full bg-gray-100">
  <div class="container">
    <div class="grid grid-cols-2">
      <div>
        <a class="text-ml inline-block text-gray-500 no-underline hover:text-blue-500 py-2 px-4" href="/news/">News</a>
      </div>
      <div>
        <a class="text-ml inline-block text-gray-500 no-underline hover:text-blue-500 py-2 px-4" href="/news/">Contact</a>
      </div>
    </div>
  </div>
</div>
<div class="hidden md:block mt-4 py-4 bottom-0 w-full bg-gray-100">
  <div class="container">
            {% if links.links %}
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
                    {% for link in links.links %}
                        <div>
                            <a class="text-ml inline-block text-gray-500 no-underline hover:text-blue-500 py-2 px-4" href="{{ link.url }}">{{ link.text }}</a>
                        </div>
                    {% endfor %}
              </div>
            {% endif %}
  </div>
</div>
<footer class="bottom-0 text-center w-full py-4 bg-gray-300">
  <div class="flex flex-wrap content-start justify-center">
    <div>
      <small class="text-gray-500">Copyright ©2006-2023
        AMSAT ZL
      </small>
    </div>
    <div class="ml-2 mt-1.5">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
    </div>
  </div>
</footer>
